.body {
    text-align: center;
}

.quiz {
    display: block;
    position: relative;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;

    top: 100px;

}

.form1 {
    display: block;
}

.form2 {
    display: none;
}